@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto+Slab:wght@100;400;700&display=swap');

.leftBody {
  border: 1px solid rgb(226, 226, 226);
  border-top: 0px;
  border-bottom: 0px;
  height: 60%;
  width: 100%;
  display: flex;
  padding: 5px 60px;
  justify-content: space-between;
  align-items: center;
}

.ulBody {
  font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 30px 20px;
}

.ulBody ul {
  list-style: none;
  margin-bottom: 30px;
}

.category {
  opacity: 0.5;
  font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  font-family: RobotoSlab, Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.775rem;
  font-weight: bold;
  color: black;
}

.author {

  width: 6.688rem;
  height: 1.188rem;
  font-family: RobotoSlab, Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color:#379cf6;


}

.button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 20px;
}

.button button {
  font-family: RobotoSlab, Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: normal;
  cursor: pointer;
  color: #379cf6;
  border: none;
  background-color: transparent;
}
