.div {
  margin-top: 100px;
  font-size: 30px;
}

.butt {
  margin-top: 50px;
  width: 13rem;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0290ff;
}

.para {
  font-size: 50px;
  text-align: center;
  font-family: fantasy, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
